@import 'tailwindcss';

@theme {
  --color-primary: #ff9644;
  --color-secondary: #fef7f0;
  --color-accent: #562f00;

  --color-neutral: #ffffff;

  --color-text-neutral: #000000;
  --color-text-alt: #6e6767;

  --color-success: #22c55e;
  --color-error: #ef4444;
}

@layer base {
  @import './base.css';
}
