@import 'tailwindcss';

@theme {
  --color-primary: #FF9644;
  --color-secondary: #FEF7F0;
  --color-accent: #562F00;

  --color-neutral: #FFFFFF;

  --color-text-neutral: #000000;
  --color-text-alt: #6E6767;
}

@layer base {
  @import './base.css';
}